<div *ngIf="!isScanning" class="scanner-container">
  <h2>Escanea el código QR para iniciar sesión</h2>
  <div class="scanner-box">
    <button class="scan-button" (click)="startScan()">Escanear QR</button>
  </div>
</div>

<div *ngIf="isScanning" class="scanning-overlay">
  <p>Escaneando...</p>
  <button class="cancel-button" (click)="cancelScan()">Cancelar escaneo</button>
</div>

<!-- Panel inferior siempre visible -->
<div class="bottom-panel">
  <button class="nav-button" (click)="goToLogin()">Volver al Login</button>
</div>
